<p id="notice"><%= notice %></p>

<table class = "striped">
  <tbody>
    <tr>
      <td>First name:</td>
      <td><%= @employee.first_name %></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><%= @employee.last_name %></td>
    </tr>
    <tr>
      <td>SSN:</td>
      <td><%= @employee.ssn %></td>
    </tr>
    <tr>
      <td>Date of birth:</td>
      <td><%= @employee.date_of_birth %></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= @employee.phone %></td>
    </tr>
    <tr>
      <td>Role:</td>
      <td><%= @employee.role %></td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @employee.active %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Edit', edit_employee_path(@employee), :class => "btn-large waves-effect waves-light black-text yellow accent-3" %>

<%= link_to 'Back', employees_path, :class => "btn-large waves-effect waves-light blue" %>