<p id="notice"><%= notice %></p>

<table class = "striped">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @flavor.name %></td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @flavor.active%></td>
    </tr>
    
  </tbody>
</table>
<br>

<%= link_to 'Edit', edit_flavor_path(@flavor), :class => "btn-large waves-effect waves-light black-text yellow accent-3" %>

<%= link_to 'Back', flavors_path, :class => "btn-large waves-effect waves-light blue" %>